body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
}

.signup {
    max-width: 480px;
    padding: 30px 20px 20px;
    margin: 0 auto;
    border: 30px solid #2b3137;
    color: #586069;
    .privacy {
        margin-top: 10px;
    }
    .bold {
        margin-top: 20px;
        background: #30c553;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }
    .user {
        height: 50px;
        font-size: 18px;
    }
}