
* {
    box-sizing: border-box;
}
body {
    font-family: Myriad Pro;
    font-weight: 500;
}
.top-header {
    background: #000000;
    color: #ffffff;
    padding: 12px 0;
    overflow: hidden
}
.top-content {
    margin: 0 auto;
    overflow: hidden;
    height: 18px;
    width: 1200px;
}
.links {
    background: url(../img/links.png) no-repeat center;
    display: block;
    float: left;
    width: 70px;
}
.links li {
    display: inline-block;
}
.links a {
    display: block;
    text-decoration: none;
}
.contact-detail {
    float: right;
}
.contact-detail li {
    float: right;
    margin-right: 25px;
}
.contact-detail i {
    margin-right: 10px;
}
.header {
    background: #ffffff;
    color: #000000;
    padding: 25px 0;
    overflow: hidden;
}
.header-content {
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
.logo {
    background: url(../img/logo.png) no-repeat center;
    display: block;
    float: left;   
    height: 30px;
    overflow: hidden;
    width: 200px;
}
.header-nav {
    float: right;
}
.header-nav li {
    float: left;
}
.header-nav a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    padding: 8px 25px;
}
.sign-in  {
    border: 1px solid #4ca368;
    border-radius: 30px;
    color: #4ca368 !important;
}
.slide1 {
    background: #4ca368;
    clear: both;
    padding: 100px 0 80px 0;
    position: relative;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
    text-align: center;
}
.slide1 h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.slide1 p {
    margin-bottom: 35px;
    line-height: 1.5;
}
.slide2 {
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    clear: both;
    position: relative; 
    color: #ffffff;  
}
.email-portion {
    background: #efefef;
    padding: 35px 0;
}
.email-content {
    margin: 0 auto;
    width: 370px;
    overflow: hidden;
    text-align: center;
    color: #000000;
}
.email-content p {
    margin-top: 15px;
}
 .email-content input[type=text] {
    padding: 10px;
}
.email-content .active {
    padding: 10px;
    background: #5db442
}
.slide2-part1 {
    padding: 100px 0;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 630px;
}
.slide2-part1 h2 {
    font-size: 35px;
}
.signup-process {
    background: rgba(156, 135, 135, 0.4);
    height: 245px;
    width: 630px; 
    margin: 45px 0;
    position: relative;  
}
.up-arrow {
    background: url(../img/arrow2.png) no-repeat;
    height: 15px;
    position: absolute;
    left: 260px;
    top: 30px;
    overflow: hidden;
    width: 35px;
}
.down-arrow {
    background: url(../img/arrow3.png) no-repeat;
    height: 15px;
    position: absolute;
    left: 260px;
    top: 60px;
    overflow: hidden;
    width: 35px;
}
.user {
    position: absolute;
    left: 160px;
    top: 110px;
    background: url(../img/arrow1.png) no-repeat;
    display: block;
    height: 60px;
    width: 70px;
}
.user-guide {
    position: absolute;
    left: 230px;
    top: 110px;
    overflow: hidden;
    text-align: left;
    line-height: 1.5;
}
.user-guide h4 {
    color: #5db442;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.signup-guide {
    overflow: hidden;
    margin: 0 auto; 
    width: 490px;   
}
.signup-guide li {
    float: left;
    margin-right: 75px;
}
.signup-guide li:last-child {
    margin-right: 0;
} 
.signup-guide h5 {
    margin-top: 15px;
}
.disc {
    background: #3d5a26;
    border-radius: 50%; 
    margin: auto;
    width: 46px;
    height: 46px;
}
.white-circle {
    background: #ffffff;
}
.icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 46px;
    width: 46px;
}
.edition {
    background-image: url(../img/img1.png)
}
.process {
    background-image: url(../img/img2.png)
}
.sign {
    background-image: url(../img/img3.png)
}
.services {
    background: #ffffff;
    color: #000000;
    padding: 100px 0;
    overflow: hidden;
}
.wrapper3 {
    margin: 0 auto;
    width: 900px;
    overflow: hidden;
    position: relative;
}
.services-content {
    text-align: center;
    overflow: hidden
}
.services-content h2 {
    font-size: 35px;
    margin-bottom: 50px;
}
.edition2 {
    margin: 0 auto;
    width: 300px;
}
.edition2 .element{
    border: 1px solid #ececec;
    border-radius: 30px;
}
.edition2 button {
    border: none;
    background: #ffffff;
    padding: 10px;
}
.edition2 .active {
    background: #5db442;
}
.services-list {
    margin-top: 50px;
    overflow: hidden;

}
.services-list > div {
    float: left;
    margin-right: 40px;
    position: relative;
}

.services-list > div:last-child {
    margin-right: 0;
}
.services-list .square {
    border: 1px solid #ececec;
    height: 400px;
    position: relative;
    text-align: center;
    width: 270px;
}
.square h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 0 70px 0;
    border-bottom: 1px solid #ececec;
}
.services-list .disc1 {
    background:#ececec;
    border-radius: 50%;
    left: 80px;
    margin: auto;
    position: absolute;
    height: 98px;
    width: 98px;
    top: 58px;
}
.services-list .disc2 {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #93cd81;
    height: 90px;
    margin: 4px;
    width: 90px;   
}
.icon2 {
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 94px;
    width: 94px;
}
.dollar1 {
    background-image: url(../img/dollar3.png), url(../img/per-month.png);
}
.points {
    left: 55px;
    position: absolute;
    overflow: hidden;
    top: 190px;
}
.services-list .points li {
    margin-bottom: 15px;
    color: #929292;
    font-size: 15px;
}
.services-list a {
    border: 1px solid #ececec;
    border-radius: 30px;
    position: absolute;
    bottom: 30px;
    left: 72px;
    padding: 12px 35px;
    text-decoration: none;
    color: #000000;
}
.bg {
    background: #5db442;
    color: #ffffff;
}
.platform {
    background: url(../img/pattern.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
    width: 100%;
}
.platform h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper4 {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}
.platform-content {
    background: #ffffff;
    border: 1px solid #e9e9e9; 
    float: left;
    margin: 0 30px 30px 0;
    padding: 0 15px;
    width: 270px;
}
.platform-content:last-child {
    margin-right: 0;
}
.platform-content img {
    margin-top: 40px;
    width: 60px;
    height: 60px;
}
.platform p {
    margin-bottom: 60px;
    line-height: 1.5;
}
.active {
    background: #5db442;
}
.platform-content h4 {
    font-size: 20px;
    margin: 35px 0;
    position: relative;
}
.platform-content h4:before {
    content: "";
    width: 70px;
    height: 4px;
    position: absolute;
    background: #ececec;
    top: -18px;
    right: 36%;
}
.footer {
    background: #efefef;
    border-bottom: 1px solid #e1e2e3;
    overflow: hidden;
    padding: 60px 0 40px 0;
    width: 100%;
}
.footer-content {   
    clear: both;
    margin: 0 auto; 
    overflow: hidden;
    width: 1200px;
}
.footer-content > div {
    float: left;
    overflow: hidden;
    margin-right: 70px;
}
.footer-content > div:last-child {
    margin-right: 0;
}
.news-letter {
    width: 370px;
    margin-right: 100px; 
}
.quick-links {
    width: 200px;
    margin-right: 65px;
}
.legal {
    width: 190px;
    margin-right: 50px;
}
.information {
    width: 182px;
}
.footer-content h5 {
    margin-bottom: 40px;
}
.footer-content p {
    line-height: 1.5;
    margin-bottom: 20px;
}
.footer-content input[type=text] {
    width: 70%;
    padding: 15px;
    float: left;
    border: none;
}
.footer-content input[type=submit] {
    padding: 15px;
    background: #5db442;
    color: #ffffff;
    border: none;
}
.footer-content li {
    margin-bottom: 15px;
}
.footer-content a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.base-footer {
    background: #efefef;
    padding: 50px 0;
}
.bf-content {
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
.bf-logo {
    background: url(../img/logo2.png) no-repeat center;
    display: block;
    float: left;   
    height: 22px;
    overflow: hidden;
    width: 130px;
}
.copy {
    float: right;
    text-align: right;
}
    