body {
    color: #586069;
}
.signup {
    padding: 20px 20px 10px 20px;
    border: 20px solid #2b3137;
    p {
        margin-bottom: 20px;
    }
}
.bold {
    font-size: 18px;
    background: #2cb54b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user {
    height: 45px;
    font-size: 18px;
}
label {
    font-size: 18px;
    color: #586069 !important;
}
    
.privacy {
    margin-top: 10px;
}
